/SystemProPodporuStudijnichPlanu/.vs/
/SystemProPodporuStudijnichPlanu/packages/
/SystemProPodporuStudijnichPlanu/SystemProPodporuStudijnichPlanu/bin/
/SystemProPodporuStudijnichPlanu//SystemProPodporuStudijnichPlanu/obj/
