/SystemProPodporuStudijnichPlanu/.vs/
/SystemProPodporuStudijnichPlanu/packages/
/SystemProPodporuStudijnichPlanu/SystemProPodporuStudijnichPlanu/bin/
/SystemProPodporuStudijnichPlanu/SystemProPodporuStudijnichPlanu/obj/
/SystemProPodporuStudijnichPlanu+plnìní/.vs/
/SystemProPodporuStudijnichPlanu+plnìní/packages/
/SystemProPodporuStudijnichPlanu+plnìní/SystemProPodporuStudijnichPlanu/bin/
/SystemProPodporuStudijnichPlanu+plnìní/SystemProPodporuStudijnichPlanu/obj/
/SystemProPodporuStudijnichPlanu+data/.vs/
/SystemProPodporuStudijnichPlanu+data/packages/
/SystemProPodporuStudijnichPlanu+data/SystemProPodporuStudijnichPlanu/bin/
/SystemProPodporuStudijnichPlanu+data/SystemProPodporuStudijnichPlanu/obj/
