<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemProPodporuStudijnichPlanu.Properties.Settings.SPTSPConnectionString" 
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Tommi\Desktop\SPPSP\SystemProPodporuStudijnichPlanu\SystemProPodporuStudijnichPlanu\Data\SPTSP.mdf;Integrated Security=True;Trusted_Connection=True;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>


